header {
    background-color: #244751;
    color: #e8fdff;
    padding-left: 20px;
    padding-right: 20px;
}

body {
    background-color: whitesmoke;
}

main {
    background-color: white;
    padding: 16px;
}

/*article {*/
/*    padding-left: 30%;   */
/*    padding-right: 30%;*/
/*    padding-top: 50px;*/
/*}*/

}

.post {
    margin-bottom: 48px;
}

.post .user-info img {
    border-radius: 50%;
}

/*@media all and (max-width: 500px){*/
    
/*    article { {*/
/*        width: 600px;*/
/*    }*/
/*}*/